@font-face {
    font-family: Dos;
    src: url("./fonts/perfectdosvga437.ttf")
}

* {
    color: white;
}

html {
    background-color: black;
}

body {
    overflow: unset;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh
}

button {
    border: 0;
    background: rgba(255, 255, 255, 0.1);
    padding: 7px 10px 5px 10px;
}
button:hover {
    background: rgba(255, 255, 255, 0.15);
}

button:active, button:focus, input:active, input:focus, textarea:active, textarea:focus {
    outline: none;
}
button::-moz-focus-inner, input::-moz-focus-inner, textarea::-moz-focus-inner {
    border: 0;
}

input, button, textarea, #drag-box, #infobox, #onlineUsers, #chat, label, #space1 {
    font-family: Dos;
}

input, textarea {
    color: white;
    background: rgba(255, 255, 255, 0.1);
    padding: 6px 0px 4px 10px;
    border: 0px;
}

#drag-box {
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    height: 30px;
    background: rgba(255, 255, 255, 0.075);
}

#menu:after {
    content: "";
    display: table;
    clear: both;
}
#menu {
    flex: 0 0 30px;
    margin: 0;
    background: rgba(255, 255, 255, 0.075);
}

.actionWin {
    float: right;
    height: 30px;
    background: rgba(255, 255, 255, 0.05);
}

::placeholder {
    text-shadow: none;
}


#center-login {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 3px solid rgba(255, 255, 255, 0.25);
    padding: 20px;
}

#login {
    margin-top: 10px;
}

#login, #auth {
    margin-right: 5px;
    margin-bottom: 5px;
}


#loadingBox {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 2px;
    border: 2px solid white;
}

#block {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#main {
    height: 100%;
}

#interface {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#additionalPanel {
    padding: 5px 0 10px 0;
}

#header {
    flex: 0 0 auto;
}

#chat {
    overflow-y: scroll;
    flex: 1 0 auto;
    height: 0;
}

#footer {
    flex: 0 0 auto;
    padding: 0 6px;
    margin: 15px 0 10px 0;
}


#colorName {
    user-select: none;
}

#textmessage {
    margin: 2.5px;
}

.notificationMessage {
    background-color: rgba(120, 120, 255, 0.3);
}


#infoBox {
    display: none;
    justify-content: center;
    align-items: center;
    height: 28px;
}

.i-error {
    border: 3px double red;
    color: red;
}

.i-info {
    border: 3px double rgb(120, 120, 255);
}


#message {
    width: 100%;
    margin-bottom: 5px;
}

.checkbox {
    margin-top: 5px;
}

input[type=checkbox] {
    display: none;
    color: white;
}

input[type=checkbox] + label:before {
    content: "☐ ";
    color: white;
}

input[type=checkbox]:checked + label:before {
	content: "■ ";
	font-size: 15px;
	color: white;
	text-align: center;
    line-height: 15px;
}

label {
    cursor: pointer;
    color: white;
}

.screen-effect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(0deg, rgba(127,127,127,0.11), rgba(127,127,127,0.11) 2px, transparent 2px, transparent 4px);
    pointer-events: none;
}


::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 5px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.025)
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgba(255, 255, 255, 0.2);;
}

::-webkit-scrollbar{
    width: 20px;
}